@tailwind base;
@tailwind components;
@tailwind utilities;

/* General body styles */
body {
  width: 100vw;
  height: 100vh;
  align-items: center;
  background: #1a1a1a;
  min-height: 100vh;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.page-container {
  color: white;
  position: relative;
}

.hyperbolasUpper {
  background: #1a1a1a;
  padding: 50px;
  text-align: center;
  clip-path: ellipse(70% 75% at 50% 0%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.hyperbolasLower {
  background: #1a1a1a;
  padding: 50px;
  text-align: center;
  clip-path: ellipse(60% 45% at 50% 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
}

.projects-title {
  margin-top: 70px;
  font-size: 32px;
}

.highlight {
  color: #A18AFF;
  font-style: italic;
}

.subtext {
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 20px;
  margin-left: 6px;
  color: white;
  margin-bottom: 10px;
}

.all-projects-button {
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: #A18AFF;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid #A18AFF;
  z-index: 11;
}

/* Responsive for layout elements */
@media (min-width: 768px) and (max-width: 1024px) {
  .page-container {
    height: 100vh;
  }

  .hyperbolasUpper {
    height: 40vh;
    gap: 20px;
  }

  .hyperbolasLower {
    height: 45vh;
  }

  .projects-title {
    margin-top: 152px;
  }

  .all-projects-button {
    bottom: 100px;
  }
}

@media (max-width: 768px) {
  .page-container {
    height: 100vh;
  }

  .hyperbolasLower {
    height: 62vh;
    clip-path: ellipse(85% 45% at 50% 100%);
  }
}

/* Zoom animation for detail view */
@keyframes zoomInFromCorner {
  0% {
    opacity: 0;
    transform: translate(100%, 100%) scale(0.3) rotate(15deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}
